body
{
    background-size: cover;
    background-position: center;

}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

canvas 
{
    box-shadow: 10px 10px 10px pink;
    border-radius:5px;
    border-color:red;
    margin-top: 30px;    
}
#number_of_objects, #status
{
    font-size:20px;
}